.App {
  font-family: apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
}

.ta-right {
  text-align: right;
}

.clr-red {
  color: tomato;
}

.ts-ital {
  font-style: italic;
}

.App__header {
  max-width: 50rem;
  padding: 4rem 2rem 1rem;
  position: relative;
  margin: 0 auto;
}

.App__body {
  display: flex;
  justify-content: space-between;
}

.App__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.App__subtitle {
  font-size: .9rem;
}

.Results__list {
  padding: 0;
}

.Results__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.Result {
  list-style: none;
  margin: 0 0 2rem;
}

.Result__album {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 .5rem;
}

.Result__artist {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}

.Result__price {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}
