.App {
  font-family: apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.pr-large {
  padding-right: 5rem;
}

.clr-red {
  color: tomato;
}

.clr-gray {
  color: #c0c2c1;
}

.ts-ital {
  font-style: italic;
}

.fw-medium {
  font-weight: 400;
}

.lsp-small {
  letter-spacing: .01rem;
}

.App__header {
  padding: 4rem 2rem;
  background-color: #f8f8f8;
  margin-bottom: 2rem;
}

.App__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.App__body__col:first-child {
  width: 60%;
}

.App__body__col:last-child {
  width: 40%;
}

.App__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.App__subtitle {
  font-size: .9rem;
}

.Results__list {
  padding: 0;
}

.Results__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 4rem;
}

.Result,
.OrderResult {
  list-style: none;
  display: flex;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  justify-content: space-between;
}

.Result:not(:last-child),
.OrderResult:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.Result__album {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 .5rem;
}

.Result__artist {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}

.Result__price {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}

.Order {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 21.875rem;
}

.Order__header {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.Order__list,
.Order__summary {
  padding: 1rem;
}

.OrderResult__album {
  font-size: .8rem;
  font-weight: 700;
  margin: 0 0 .5rem;
}

.OrderResult__artist {
  font-size: .75rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}

.OrderResult__price {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}
